body {
    padding: 0;
    margin: 0;
}
* { box-sizing: border-box; }
/* force scrollbar */
html { overflow-y: scroll; }
body { font-family: sans-serif; }
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/*-------*/
.masonry_container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.grid-sizer,
.grid-item {
    width: 32%;
    margin-bottom: 10px;
}

.item_masonry img {
    display: block;
    width: 100%;
}

.item_masonry_2 img {
    display: block;
    width: 100%;
    float: right;
}


.grid-sizer_2,
.grid-item_2 {
    width: 33%;
    margin-bottom: 2px;
    float: right;
}

.grid-item_2_width_2 {
    height: auto;
    width: 100%;
    float: right;
}


.masonry_container_2 {
    height: 453px;
    width: 373px;
    float: right;
}

.img_2{
    width: 50%;
    display: flex;
    justify-content: space-around;
    float: right;
}

